<section>
    <div class="container">
        <div class="row mt-4">
            <a href="/admin/add-product" class="btn btn-success ml-auto">Add product</a>
        </div>
        <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">category</th>
      <th scope="col">Price</th>
      <th scope="col">image</th>
    </tr>
  </thead>
  <tbody>
    {{#each productsForDisplay}}

    <tr>
      <th scope="row">{{this.index}}</th>
      <td>{{this.Name}}</td>
      <td>{{this.Category}}</td>
      <td>{{this.Price}}</td>
      <td><img style="width: 50px; height:50px" src="{{this.Image}}" alt=""></td>
      
    </tr>
    {{/each}}
   
  </tbody>
</table>
    </div>
</section>