<section>
    <div class="container">
        <div class="row mt-4">
            <a href="/" class="btn btn-success ml-auto">continue shopping</a>
        </div>
        <table class="table mt-5">
  <thead>
    <tr>
      {{!-- <th scope="col">#</th> --}}
      <th scope="col">Product</th>
      <th scope="col">category</th>
      <th scope="col">Price</th>
      <th scope="col">image</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}

    
    <tr>
      {{!-- <th scope="row">Item</th> --}}
      <td><img style="width: 50px; height:50px" src="/product-images/{{this.product._id}}.jpg" alt=""></td>

      <td>{{this.product.Name}}</td>
      <td>{{this.product.Category}}</td>
      <td>{{this.product.Price}}</td>

      <td >
        <button onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)" class="cart-item-count mr-3 btn-secondary">-</button><span id="proCount">{{this.quantity}}</span><button class="cart-item-count btn-success ml-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>
      </td>

      <td><button class="btn btn-danger">Remove</button></td>
      
    </tr>
    
    {{/each}}
   
  </tbody>
</table>
    </div>
</section>
<script>
  function changeQuantity(cartId,productId,count){
    $.ajax({
      url:'/change-product-quantity',
      data:{
        cart:cartId,
        product:productId,
        count:count

      },
      method:'post',
      success:(response)=>{
        if(response.status){
                let count=$('#proCount').html()
                alert(count)
                count=parseInt(count)+1
                $("#proCount").html(count)
            }
         
      }
    })
  }
</script>